@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

@font-face {
    font-family: "Raleway";
    src: url('../fonts/Raleway-VariableFont_wght.woff');
    src: url('../fonts/Raleway-VariableFont_wght.ttf') format('truetype');
}
body{
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;  
    font-family: "Raleway", sans-serif;
  }
section{
    display: flex;
    flex-direction: column;
    
}
#bloc-1{
    height: 350px;
    width: 1160px;
    margin: auto;
    justify-content: center;
    align-items: center; 
    background-color: #782221;
}
#bloc-2{
    height: 80px;
    background-color: #2c1d27;  
}
address{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    align-items: center;
    
}
#bloc-3{
    width: 300px;
    background-color: #782221;
}
#bloc-4{
    width: 800px;
    padding-right: 20px;
    
}
footer{
    height: 100px;
    width: 1160px;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #782221;
}
#a-propos{
    text-indent: 20px;
    margin-left: 15px;
    margin-right: 20px;
    color: white;
    text-align: justify;
}
h3{
    background-color: #dbc2a4;
    margin-right: 20px;
    text-indent: 15px;
    font-family: "Lato", sans-serif;
}
a{
    color: white;
}
h1{
    font-family: "Lato", sans-serif;
    color: white;
}
h2{
    
    font-family: "Lato", sans-serif;
    color: white;
}
#text1{
    color: white;
}
#icone{
    width: 40px;
    height: 40px;
}
figure{
    width: 100%;
    height: 100%;
}
#maj{
    color: white;
}
#exp{
    box-shadow: -5px 0 0 #782221;
    margin-left: 20px;
}
p{
    margin-left: 20px;
}
div{
    margin-left: 20px;
}
#photo{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 20px black;
}
#mail{
    margin-right: 80px;
}
main{
    display: flex;
}




